<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <div class="page-view">
      <%- include('./partials/aside.ejs')%>
      <main class="settings-page">
        <div class="container">
          <div class="user d-flex align-items-center mt-5">
            <div class="img">
              <img src="../user.jpg" class="img-fluid" alt="" />
            </div>
            <div class="user-info">
              <h2 class="user-name mb-0"><%= user.name%></h2>
              <span class="text-muted"><%= user.email%></span>
              <p class="headline mt-3">ID : <%= user._id%></p>
            </div>
          </div>
          <div class="settings mt-5">
            <div class="change-name mb-4">
              <form class="d-flex align-items-center change-name">
                <div class="field flex-fill me-5">
                  <label for="">Change your name</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    value="<%= user.name%>"
                  />
                  <span class="text-danger name-error"></span>
                </div>
                <div>
                  <button class="btn btn-dark">
                    <i class="fa-solid fa-pen me-2"></i>Edit
                  </button>
                </div>
              </form>
            </div>
            <div class="change-email mb-4">
              <form class="d-flex align-items-center change-email">
                <div class="field flex-fill me-5">
                  <label for="">Change your email</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    value="<%= user.email%>"
                  />
                  <span class="text-danger email-error"></span>
                </div>
                <div>
                  <button class="btn btn-dark">
                    <i class="fa-solid fa-pen me-2"></i>Edit
                  </button>
                </div>
              </form>
            </div>
            <div class="change-pass mb-4">
              <form class="d-flex align-items-center change-password">
                <div class="field flex-fill me-5">
                  <label for="">Old password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="oldPassword"
                  />
                  <label for="">New password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="newPassword"
                  />
                  <span class="text-danger password-error"></span>
                </div>
                <div>
                  <button class="btn btn-dark">
                    <i class="fa-solid fa-pen me-2"></i>Edit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../js/settings/settings.js"></script>
  </body>
</html>
